<template>
  <div class="expedition">
    <map-board></map-board>
  </div>
</template>

<script>

import MapBoard from '@/components/MapBoard'

export default {
  name: 'expedition',

  components: {
    MapBoard
  }
}

</script>
