<template>
  <div class="home container">
    <div class="columns">
      <div class="column is-full">
        <h1>Expéditions Nomad Maps</h1>
        <expedition-list></expedition-list>
      </div>
    </div>
  </div>
</template>

<script>

import ExpeditionList from '@/components/ExpeditionList'

export default {
  name: 'Home',

  components: {
    ExpeditionList
  }
}

</script>

<style scoped>

.home {
  padding: 0 16px;
}

h1 {
  margin-top: 32px;
  font-size: 36px;
}

</style>
