<template>
  <full-page-message
    message="404 Page Introvable !"
  ></full-page-message>
</template>

<script>

import FullPageMessage from '@/components/FullPageMessage'

export default {
  name: 'NotFound',

  components: {
    FullPageMessage
  }
}

</script>
