<template>
  <ul>
    <li
      :class="{ 'active': mapBasemap.url === basemaps.POSITRON.url }"
      @click="setBasemap(basemaps.POSITRON)"
    >
      Carto Positron
      <img src="/images/positron.png" alt="Carto Positron image"/>
    </li>
    <li
      :class="{ 'active': mapBasemap.url === basemaps.OSM.url }"
      @click="setBasemap(basemaps.OSM)"
    >
      OpenStreetMap Mapnik
      <img src="/images/osm.png" alt="OpenStreetMap Mapnik image"/>
    </li>
    <li
      :class="{ 'active': mapBasemap.type === 'bing' }"
      @click="setBasemap(basemaps.BING)"
    >
      BING Aerial
      <img src="/images/bing.png" alt="BING aerial image"/>
    </li>
  </ul>
</template>

<script>

import {
  mapMutations,
  mapGetters
} from 'vuex'

import { SET_BASEMAP } from '@/store/features/mutations.type'
import basemaps from '@/constants/basemaps'

export default {
  name: 'BasemapList',

  data () {
    return { basemaps }
  },

  computed: {
    ...mapGetters(['mapBasemap'])
  },

  methods: {
    ...mapMutations({ setBasemap: SET_BASEMAP })
  }
}

</script>

<style scoped>

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0 0 8px 0;
}

li img {
  transition: all 0.4s;
  margin: 4px 0 0 0;
  border: 4px solid rgb(255, 255, 255);
}

li:hover img {
  border: 4px solid rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

li.active img {
  border: 4px solid rgb(249, 237, 50);
}

</style>
