<template>
  <div class="content steps">
    <step-list></step-list>
  </div>
</template>

<script>

import StepList from './StepList'

export default {
  name: 'ContentSteps',

  components: {
    StepList
  }
}

</script>

<style>

.steps {
  height: 100%;
}

</style>
