<template>
  <div class="content layers">
    <h2>Données</h2>
    <layer-list></layer-list>
    <h2>Fond de carte</h2>
    <basemap-list></basemap-list>
  </div>
</template>

<script>

import BasemapList from './BasemapList'
import LayerList from './LayerList'

export default {
  name: 'ContentLayers',

  components: {
    BasemapList,
    LayerList
  }
}

</script>

<style>

.layers {
  height: 100%;
}

</style>
