<template>
  <div>
    <div
      v-if="loading"
      class="loader-container"
    >
      <b-loading
        :active="loading"
        :is-full-page="false"
      ></b-loading>
    </div>
    <div
      v-else-if="error"
      class="error-container"
    >
      <p class="has-text-danger">
        Erreur lors du chargement des données !
      </p>
    </div>
    <ul v-else-if="usersById">
      <expedition-list-item
        v-for="expedition in expeditions"
        :key="expedition.id"
        :expedition="expedition"
        :user="usersById[expedition.user]"
      ></expedition-list-item>
    </ul>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'
import { FETCH_EXPEDITIONS } from '@/store/expeditions/actions.type'
import { FETCH_USERS } from '@/store/users/actions.type'
import ExpeditionListItem from './ExpeditionListItem'

export default {
  name: 'ExpeditionList',

  components: {
    ExpeditionListItem
  },

  computed: {
    ...mapGetters([
      'expeditions',
      'expeditionsFetchingError',
      'expeditionsFetchingOngoing',
      'users',
      'usersById',
      'usersFetchingError',
      'usersFetchingOngoing'
    ]),

    error () {
      return this.expeditionsFetchingError || this.usersFetchingError
    },

    loading () {
      return this.expeditionsFetchingOngoing || this.usersFetchingOngoing
    },

    userIds () {
      return this.expeditions.map(exp => exp.user)
    }
  },

  mounted: async function () {
    await this.fetchExpeditions()

    if (!this.error) {
      await this.fetchUsers([this.userIds])
    }
  },

  methods: {
    ...mapActions({
      fetchExpeditions: FETCH_EXPEDITIONS,
      fetchUsers: FETCH_USERS
    })
  }
}

</script>

<style scoped>

.error-container {
  width: 100%;
  height: 30vh;
  margin-top: 24px;
  font-size: 1.1rem;
}

.loader-container {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-top: 24px;
  background-color: rgba(128, 128, 128, 0.2);
}

</style>
