<template>
  <li
    @click="$emit('click', expedition)"
  >
    <router-link
      :to="`/expedition/${expedition.id}`"
      class="expedition-link"
    >
      {{ expedition.name }}
    </router-link>
    de
    <span class="expedition-user-name">
      {{ user.name }}
    </span>
  </li>
</template>

<script>

export default {
  name: 'ExpeditionListItem',

  props: {
    expedition: {
      type: Object,
      required: true
    },

    user: {
      type: Object,
      required: true
    }
  }
}

</script>

<style scoped>

li {
  transition: all 0.4s;
  padding: 12px;
}

.expedition-link {
  color: #4a4a4a;
  font-size: 28px;
}

span.expedition-user-name {
  font-size: 20px;
}

</style>
