<template>
  <div class="home container">
    <div class="columns">
      <div class="column is-full">
        <h1>{{ message }}</h1>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'FullPageMessage',

  props: {
    message: {
      type: String,
      required: true
    }
  }
}

</script>

<style>

h1 {
  margin-top: 32px;
  font-size: 36px;
}

</style>
