<template>
  <ul class="layer-list">
    <layer-list-item
      v-for="layer in layers"
      :key="layer.key"
      :checked="mapVisibleLayers[layer.key]"
      :layer="layer"
      @toggle="toggleLayerVisibility(layer.key)"
    ></layer-list-item>
  </ul>
</template>

<script>

import {
  mapMutations,
  mapGetters
} from 'vuex'

import { TOGGLE_LAYER_VISIBILITY } from '@/store/features/mutations.type'
import LayerListItem from './LayerListItem'

export default {
  name: 'LayerList',

  components: {
    LayerListItem
  },

  data () {
    return {
      layers: [{
        key: 'traces',
        name: 'Traces GPS',
        symbolClass: 'gps-traces-symbol',
        objects: undefined
      }, {
        key: 'photos',
        name: 'Photos',
        symbolClass: 'photos-symbol',
        objects: undefined
      }, {
        key: 'osm',
        name: 'OpenStreetMap',
        symbolClass: undefined,
        objects: [{
          name: 'Node',
          symbolClass: 'osm-node-symbol'
        }, {
          name: 'Way',
          symbolClass: 'osm-way-symbol'
        }, {
          name: 'Polygon',
          symbolClass: 'osm-polygon-symbol'
        }]
      }, {
        key: 'mapillary',
        name: 'Mapillary',
        symbolClass: undefined,
        objects: [{
          name: 'Séquence',
          symbolClass: 'mapillary-sequence-symbol'
        }, {
          name: 'Image',
          symbolClass: 'mapillary-image-symbol'
        }]
      }]
    }
  },

  computed: {
    ...mapGetters(['mapVisibleLayers'])
  },

  methods: {
    ...mapMutations({ toggleLayerVisibility: TOGGLE_LAYER_VISIBILITY })
  }
}

</script>

<style>

ul.layer-list {
  margin: 0;
  padding: 0;
  list-style-type: 0;
}

ul.layer-list li {
  margin: 0;
  padding: 0;
}

.gps-traces-symbol {
  width: 30px;
  height: 5px;
  background-image: linear-gradient(to right, #f9ed32 0%, #f9ed32 75%, #fff 76%, #fff 100%);
  background-size: 15px 5px;
}

.photos-symbol {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-image: url('/icons/image.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(28, 155, 233, 1);
}

.osm-node-symbol {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-image: url('/icons/osm.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(198, 224, 173, 1);
}

.osm-way-symbol {
  width: 30px;
  height: 2px;
  background-color: rgba(198, 224, 173, 1);
}

.osm-polygon-symbol {
  width: 30px;
  height: 10px;
  background-color: rgba(198, 224, 173, 0.5);
  border: 2px solid rgba(198, 224, 173, 1);
}

.mapillary-sequence-symbol {
  width: 30px;
  height: 4px;
  background-color: rgba(53, 175, 109, 0.8);
}

.mapillary-image-symbol {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(53, 175, 109, 0.8);
}

</style>
