<template>
  <li>
    <div class="columns is-mobile layer-object-list-item">
      <div class="column is-three-quarters label">
        {{ object.name }}
      </div>
      <div class="column symbol">
        <div :class="object.symbolClass"></div>
      </div>
    </div>
  </li>
</template>

<script>

export default {
  name: 'LayerObjectListItem',

  props: {
    object: {
      type: Object,
      required: true
    }
  }
}

</script>

<style scoped>

li {
  margin: 0;
  padding: 0;
}

.layer-object-list-item {
  max-width: 100%;
}

.layer-object-list-item .column {
  padding-top: 4px;
  padding-bottom: 8px;
}

.label {
  margin: 0;
  padding-left: 48px;
  font-weight: normal;
}

.symbol {
  display: flex;
  align-items: center;
}

</style>
