<template>
  <li>
    <div class="columns is-mobile layer-item">
      <div :class="['column', colSize]">
        <div class="field">
          <b-checkbox
            :value="checked"
            type="is-secondary"
            @input="$emit('toggle')"
          >{{ layer.name }}</b-checkbox>
        </div>
      </div>
      <div
        v-if="hasSymbol"
        class="column layer-symbol"
      >
        <div :class="layer.symbolClass"></div>
      </div>
    </div>
    <ul
      v-if="layer.objects"
      class="layer-object-list"
    >
      <layer-object-list-item
        v-for="object in layer.objects"
        :key="object.name"
        :object="object"
      ></layer-object-list-item>
    </ul>
  </li>
</template>

<script>

import LayerObjectListItem from './LayerObjectListItem'

export default {
  name: 'LayerListItem',

  components: {
    LayerObjectListItem
  },

  props: {
    checked: {
      type: Boolean,
      required: true
    },

    layer: {
      type: Object,
      required: true
    }
  },

  data () {
    const hasSymbol = this.layer.symbolClass !== undefined

    return {
      colSize: hasSymbol ? 'is-three-quarters' : 'is-full',
      hasSymbol
    }
  }
}

</script>

<style>

.layer-item .control-label {
  font-size: 16px;
}

</style>

<style scoped>

.layer-item {
  max-width: 100%;
}

.field,
.layer-symbol {
  display: flex;
  align-items: center;
}

.is-full {
  padding-bottom: 0;
}

.field {
  font-weight: bold;
}

ul.layer-object-list {
  margin: 0;
  padding: 0;
  list-style-type: 0;
}

</style>
