<template>
  <div class="map-board">
    <map-board-message
      v-if="loading"
      icon="arrow-down"
      icon-custom-class="falling"
    >
      Téléchargement des données
    </map-board-message>
    <map-board-message
      v-else-if="error"
      icon="exclamation-circle"
      icon-type="is-danger"
      text-custom-class="has-text-danger"
    >
      Echec du téléchargement des données !
    </map-board-message>
    <map-board-message
      v-else-if="expeditionNotFound"
      icon="exclamation-circle"
      icon-type="is-danger"
      text-custom-class="has-text-danger"
    >
      Expedition introuvable !
    </map-board-message>
    <template
      v-else-if="loaded"
    >
      <web-map-toolbar></web-map-toolbar>
      <web-map-leftbar></web-map-leftbar>
      <web-map-button-home></web-map-button-home>
      <web-map-popup></web-map-popup>
      <web-map-modal></web-map-modal>
      <web-map></web-map>
    </template>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'
import { FETCH_EXPEDITIONS } from '@/store/expeditions/actions.type'
import { FETCH_STEPS } from '@/store/steps/actions.type'
import { FETCH_TRACES } from '@/store/traces/actions.type'
import { FETCH_USERS } from '@/store/users/actions.type'
import MapBoardMessage from '@/components/MapBoardMessage'
import WebMap from '@/components/WebMap'
import WebMapToolbar from '@/components/WebMapToolbar'
import WebMapLeftbar from '@/components/WebMapLeftbar'
import WebMapButtonHome from '@/components/WebMapButtonHome'
import WebMapPopup from '@/components/WebMapPopup'
import WebMapModal from '@/components/WebMapModal'

export default {
  name: 'MapBoard',

  components: {
    MapBoardMessage,
    WebMap,
    WebMapToolbar,
    WebMapLeftbar,
    WebMapButtonHome,
    WebMapPopup,
    WebMapModal
  },

  data () {
    return {
      expeditionNotFound: false,
      loaded: false
    }
  },

  computed: {
    ...mapGetters([
      'expeditionsFetchingError',
      'expeditionsFetchingOngoing',
      'expeditionsById',
      'stepsFetchingError',
      'stepsFetchingOngoing',
      'tracesFetchingError',
      'tracesFetchingOngoing',
      'usersFetchingError',
      'usersFetchingOngoing'
    ]),

    error () {
      return this.expeditionsFetchingError ||
        this.stepsFetchingError ||
        this.tracesFetchingError ||
        this.usersFetchingError
    },

    loading () {
      return this.expeditionsFetchingOngoing ||
        this.stepsFetchingOngoing ||
        this.tracesFetchingOngoing ||
        this.usersFetchingOngoing
    }
  },

  mounted: async function () {
    const toFetch = [
      this.fetchExpeditions.bind(null, [this.$route.params.id]),
      this.fetchSteps.bind(null, this.$route.params.id),
      this.fetchTraces.bind(null, this.$route.params.id)
    ]

    for (let i = 0; i < toFetch.length && !this.error; i++) {
      await toFetch[i]()
    }

    const expedition = this.expeditionsById[this.$route.params.id]

    if (expedition) {
      await this.fetchUsers([expedition.user])
      this.loaded = true
    } else {
      this.loaded = true
      this.expeditionNotFound = true
    }
  },

  methods: {
    ...mapActions({
      fetchExpeditions: FETCH_EXPEDITIONS,
      fetchSteps: FETCH_STEPS,
      fetchTraces: FETCH_TRACES,
      fetchUsers: FETCH_USERS
    })
  }
}

</script>

<style>

.map-board {
  display: flex;
  min-height: calc(100vh - 3.25rem);
  align-items: center;
  justify-content: center;
}

</style>
