<template>
  <div class="map-board-message">
    <b-icon
      pack="fas"
      :icon="icon"
      :type="iconType"
      :custom-class="iconCustomClass"
    ></b-icon>
    <div :class="['message-content', textCustomClass]">
      <slot></slot>
    </div>
  </div>
</template>

<script>

const typeList = ['is-success', 'is-danger']

export default {
  name: 'MapBoardMessage',

  props: {
    icon: {
      type: String,
      default: null
    },

    iconCustomClass: {
      type: String,
      default: null
    },

    iconType: {
      type: String,
      validator: val => typeList.indexOf(val) > -1
    },

    textCustomClass: {
      type: String,
      default: null
    }
  }
}

</script>

<style>

.message-content {
  display: inline-block;
  margin-left: 8px;
  font-size: 1.3rem;
}

</style>
