<template>
  <div
    v-if="photo !== null"
    :key="photo.properties.id"
  >
    <p class="image">
      <img
        :src="photo.properties.url_l"
        alt="Large photo from Flickr"
        @load="loading = false"
      />
    </p>
    <b-loading
      :is-full-page="false"
      :active="loading"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>

<script>

export default {
  name: 'ModalCardPhoto',

  props: {
    photo: {
      type: Object,
      required: true
    }
  },

  data () {
    return { loading: true }
  }
}

</script>
