<template>
  <div
    v-if="image !== null"
    :key="image.properties.id"
  >
    <p class="image">
      <img
        :src="`https://d1cuyjsrcm0gby.cloudfront.net/${image.properties.key}/thumb-1024.jpg`"
        alt="Mapillary Image"
        @load="loading = false"
      />
    </p>
    <b-loading
      :is-full-page="false"
      :active="loading"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>

<script>

export default {
  name: 'ModalCardMapillaryImage',

  props: {
    image: {
      type: Object,
      required: true
    }
  },

  data () {
    return { loading: true }
  }
}

</script>
