<template>
  <div></div>
</template>

<script>

import Control from 'ol/control/Control'

export default {
  name: 'OlControl',

  props: {
    elementId: {
      type: String, required: true
    },

    onOlControlCreated: {
      type: Function,
      default: () => {}
    }
  },

  mounted () {
    this.control = new Control({
      element: document.getElementById(this.elementId)
    })

    this.onOlControlCreated(this.control)
  }
}

</script>
