<template>
  <div>
    <slot name="label"></slot>
    <slot name="labelActive"></slot>
  </div>
</template>

<script>

import FullScreen from 'ol/control/FullScreen'

export default {
  name: 'OlControlFullscreen',

  props: {
    className: {
      type: String,
      default: undefined
    },

    onOlControlCreated: {
      type: Function,
      default: () => {}
    },

    source: {
      type: String,
      default: undefined
    },

    tipLabel: {
      type: String,
      default: undefined
    }
  },

  mounted () {
    const label = this.$slots.label ? this.$slots.label[0].elm : undefined
    const labelActive = this.$slots.labelActive ? this.$slots.labelActive[0].elm : undefined

    this.control = new FullScreen({
      className: this.className,
      label: label,
      labelActive: labelActive,
      source: this.source,
      tipLabel: this.tipLabel
    })

    this.onOlControlCreated(this.control)
  }
}

</script>
