<template>
  <div></div>
</template>

<script>

import axios from 'axios'
import GeoJSON from 'ol/format/GeoJSON'
import Source from 'ol/source/Vector'
import Layer from 'ol/layer/Vector'
import { bbox } from 'ol/loadingstrategy'

export default {
  name: 'OlLayerVector',

  props: {
    features: {
      type: Array,
      default: () => []
    },

    maxResolution: {
      type: Number,
      default: undefined
    },

    minResolution: {
      type: Number,
      default: undefined
    },

    onOlLayerCreated: {
      type: Function,
      default: () => {}
    },

    reader: {
      type: Function,
      required: false
    },

    renderOrder: {
      type: Function,
      default: undefined
    },

    styling: {
      required: false
    },

    url: {
      type: Function,
      required: false
    },

    visible: {
      type: Boolean,
      default: true
    },

    zIndex: {
      type: Number,
      default: undefined
    }
  },

  data () {
    return {
      layer: null
    }
  },

  watch: {
    features () {
      this.layer.setSource(this.getFeaturesSource())
    },

    visible () {
      this.layer.setVisible(this.visible)
    }
  },

  mounted () {
    this.layer = new Layer({
      maxResolution: this.maxResolution,
      minResolution: this.minResolution,
      opacity: 1,
      renderOrder: this.renderOrder,
      source: this.getSource(),
      style: this.styling,
      visible: this.visible,
      zIndex: this.zIndex
    })

    this.onOlLayerCreated(this.layer)

    this.layer.on('change:source', ev => { this.$emit('change:source', ev) })
    this.layer.on('layer:click', ev => { this.$emit('click', ev) })
    this.layer.on('layer:pointerenter', this.onPointerEnter)
    this.layer.on('layer:pointerleave', this.onPointerLeave)
  },

  methods: {
    onPointerEnter (ev) {
      this.$emit('pointerenter', ev.feature)
      document.body.style.cursor = 'pointer'
    },

    onPointerLeave (ev) {
      this.$emit('pointerleave')
      document.body.style.cursor = ''
    },

    getFeaturesSource () {
      const collection = {
        type: 'FeatureCollection',
        features: this.features
      }

      const features = (new GeoJSON()).readFeatures(collection, {
        dataProjection: 'EPSG:4326',
        featureProjection: 'EPSG:3857'
      })

      return new Source({ features })
    },

    getLoader (urlBuilder, reader) {
      return async function (extent, resolution, projection) {
        const url = urlBuilder(extent)
        const response = await axios(url)

        if (response.status === 200) {
          const features = reader(response.data)
          this.addFeatures(features)
        } else {
          this.removeLoadedExtent(extent)
        }
      }
    },

    getLoaderSource () {
      return new Source({
        loader: this.getLoader(this.url, this.reader),
        strategy: bbox
      })
    },

    getSource () {
      return this.url ? this.getLoaderSource() : this.getFeaturesSource()
    }
  }
}

</script>
