<template>
  <div></div>
</template>

<script>

import TileLayer from 'ol/layer/Tile'
import BingMaps from 'ol/source/BingMaps'

export default {
  name: 'OlLayerBing',

  props: {
    imagerySet: {
      type: String,
      required: true
    },

    bingApiKey: {
      type: String,
      required: true
    },

    onOlLayerCreated: {
      type: Function,
      default: () => {}
    },

    visible: {
      type: Boolean,
      default: true
    }
  },

  watch: {
    visible () {
      this.layer.setVisible(this.visible)
    }
  },

  mounted () {
    this.layer = new TileLayer({
      source: new BingMaps({
        key: this.bingApiKey,
        imagerySet: this.imagerySet
      }),
      visible: this.visible
    })

    this.onOlLayerCreated(this.layer)
  }
}

</script>
