<template>
  <div></div>
</template>

<script>

import TileLayer from 'ol/layer/Tile'
import XYZ from 'ol/source/XYZ'

export default {
  name: 'OlLayerTile',

  props: {
    attributions: {
      type: String,
      required: false
    },

    crossOrigin: {
      type: String,
      required: false
    },

    onOlLayerCreated: {
      type: Function,
      default: () => {}
    },

    url: {
      type: String,
      default: undefined
    },

    visible: {
      type: Boolean,
      default: true
    }
  },

  watch: {
    url () {
      if (this.url) {
        this.layer.setSource(this.getXYZSource())
      }
    },

    visible () {
      this.layer.setVisible(this.visible)
    }
  },

  mounted () {
    this.layer = new TileLayer({
      source: this.getXYZSource(),
      visible: this.visible
    })

    this.onOlLayerCreated(this.layer)
  },

  methods: {
    getXYZSource () {
      return new XYZ({
        attributions: this.attributions,
        crossOrigin: this.crossOrigin,
        url: this.url
      })
    }
  }
}

</script>
