<template>
  <div>
    <div :id="id" ref="OlMap"></div>
    <template v-if="Boolean(this.map)">
      <slot :map="map"/>
    </template>
  </div>
</template>

<script>

import { TOUCH } from 'ol/has'
import Map from 'ol/Map'
import View from 'ol/View'
import { defaults as controls, Attribution, ScaleLine } from 'ol/control'
import { defaults as interactions } from 'ol/interaction'

export default {
  name: 'OlMap',

  props: {
    id: {
      type: String,
      required: true
    },

    center: {
      type: Array,
      default: () => [0, 0]
    },

    maxZoom: {
      type: Number,
      default: 18
    },

    minZoom: {
      type: Number,
      default: 1
    },

    scaleLine: {
      type: Boolean,
      default: false
    },

    zoom: {
      type: Number,
      default: 1
    }
  },

  data () {
    return { map: null }
  },

  mounted () {
    const controlsConf = {
      attribution: false,
      rotate: false
    }

    const otherControls = [
      new Attribution({ collapsible: false })
    ]

    if (this.scaleLine) {
      otherControls.push(new ScaleLine())
    }

    const view = new View({
      center: this.center,
      maxZoom: this.maxZoom,
      minZoom: this.minZoom,
      zoom: this.zoom
    })

    this.lastMove = null

    this.map = new Map({
      target: this.$refs.OlMap,
      controls: controls(controlsConf).extend(otherControls),
      interactions: interactions({ altShiftDragRotate: false, pinchRotate: false }),
      view
    })

    this.map.on('click', this.onClick)

    if (!TOUCH) {
      this.map.on('pointermove', this.onPointerMove)
    }

    this.$emit('ready', this.map)
  },

  methods: {
    onClick (ev) {
      if (ev.originalEvent.target.classList.contains('ol-unselectable')) {
        const clicked = []
        const callBack = (f, l) => { clicked.push({ f, l }) }
        this.map.forEachFeatureAtPixel(ev.pixel, callBack, { hitTolerance: 5 })

        if (clicked.length > 0) {
          const layer = clicked[0].l
          const feature = clicked[0].f
          layer.dispatchEvent({ type: 'layer:click', feature, coordinate: ev.coordinate })
        } else {
          this.$emit('click', ev)
        }
      }
    },

    onPointerMove (ev) {
      if (ev.originalEvent.target.classList.contains('ol-unselectable')) {
        const hovered = []
        const callBack = (f, l) => { hovered.push({ f, l }) }
        this.map.forEachFeatureAtPixel(ev.pixel, callBack, { hitTolerance: 5 })

        if (hovered.length > 0) {
          const layer = hovered[0].l
          const feature = hovered[0].f

          if (this.lastMove) {
            if (this.lastMove.layer.getSource().hasFeature(feature) && feature.get('id') !== this.lastMove.feature.get('id')) {
              this.lastMove.feature = feature
              this.lastMove.layer.dispatchEvent({ type: 'layer:pointerenter', feature })
            }

            if (!this.lastMove.layer.getSource().hasFeature(feature)) {
              this.lastMove.layer.dispatchEvent({ type: 'layer:pointerleave' })
              this.lastMove = { layer, feature }
              this.lastMove.layer.dispatchEvent({ type: 'layer:pointerenter', feature })
            }
          } else {
            this.lastMove = { layer, feature }
            this.lastMove.layer.dispatchEvent({ type: 'layer:pointerenter', feature })
          }
        } else {
          if (this.lastMove) {
            this.lastMove.layer.dispatchEvent({ type: 'layer:pointerleave' })
            this.lastMove = null
          }
        }
      } else {
        if (this.lastMove) {
          this.lastMove.layer.dispatchEvent({ type: 'layer:pointerleave' })
          this.lastMove = null
        }
      }
    }
  }
}

</script>
