<template>
  <div></div>
</template>

<script>

import Overlay from 'ol/Overlay'

export default {
  name: 'OlOverlay',

  props: {
    elementId: {
      type: String,
      required: true
    },

    offset: {
      type: Array,
      default: () => [0, 0]
    },

    onOlOverlayCreated: {
      type: Function,
      default: () => {}
    },

    position: {
      required: false
    }
  },

  watch: {
    position (newPosition) {
      this.overlay.setPosition(newPosition)
    }
  },

  mounted () {
    this.overlay = new Overlay({
      autoPan: true,
      autoPanAnimation: { duration: 250 },
      element: document.getElementById(this.elementId),
      offset: this.offset,
      position: this.position,
      positioning: 'bottom-center'
    })

    this.onOlOverlayCreated(this.overlay)
  }
}

</script>
