<template>
  <div class="ol-popup">
    <div class="popup-closer is-pulled-right">
      <a
        v-if="closer"
        class="delete is-small"
        @click="$emit('close')"
      ></a>
    </div>
    <div class="popup-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>

export default {
  name: 'OlPopup',

  props: {
    closer: {
      type: Boolean,
      default: true
    }
  }
}

</script>

<style>

.ol-popup {
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 2px;
  border: 1px solid #cccccc;
  bottom: 12px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  margin-left: -10px;
  left: 50%;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}

.popup-closer {
  width: 16px;
  height: 16px;
  margin: 2px 0 4px 0;
}

</style>
