<template>
  <div></div>
</template>

<script>

export default {
  name: 'OlTransitionHandler',

  props: {
    map: {
      type: Object,
      required: true
    },

    transitionRequestQueue: {
      type: Array,
      required: true
    }
  },

  watch: {
    transitionRequestQueue () {
      if (this.transitionRequestQueue.length) {
        this.makeTransition(this.transitionRequestQueue[0])
      }
    }
  },

  methods: {
    makeTransition (transitionRequest) {
      if (transitionRequest.type === 'fit') {
        const options = { ...transitionRequest.options, callback: () => { this.$emit('transitionend') } }
        this.map.getView().fit(transitionRequest.extent, options)
      }

      if (transitionRequest.type === 'animate') {
        this.map.getView().animate(transitionRequest.options, () => { this.$emit('transitionend') })
      }
    }
  }
}

</script>
