<template>
  <div
    v-if="trace"
    class="popup-content-trace"
  >
    <h3>Trace GPS</h3>
    <dl>
      <dt>Capturée le :</dt>
      <dd>{{ trace.properties.date | formatDate }}</dd>
      <dt>Longueur :</dt>
      <dd>{{ traceLength }} km</dd>
    </dl>
  </div>
</template>

<script>

import moment from 'moment'
import GeoJSON from 'ol/format/GeoJSON'

export default {
  name: 'PopupCardTrace',

  filters: {
    formatDate: val => moment(val).format('DD/MM/YYYY')
  },

  props: {
    trace: {
      type: Object,
      required: true
    }
  },

  computed: {
    traceLength () {
      if (!this.trace) {
        return 0
      }

      const feature = (new GeoJSON()).readFeature(this.trace)

      return Math.round((feature.getGeometry().getLength() / 1000))
    }
  }
}

</script>

<style scoped>

.popup-content-trace {
  width: 160px;
  overflow: auto;
  padding: 0 8px 8px 8px;
}

h3 {
  margin-bottom: 8px;
  padding-bottom: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

dt {
  margin-top: 8px;
  font-weight: bold;
}

</style>
