<template>
  <div
    v-if="photo"
    :key="photo.properties.id"
    :style="{ width: '200px' }"
  >
    <a
      class="button is-small is-dark is-pulled-right"
      title="Agrandir"
      @click="$emit('extend')"
    >
      <b-icon
        pack="fas"
        icon="expand"
        size="is-small"
      ></b-icon>
    </a>
    <div>
      <div
        v-show="loading"
        class="loading-background"
      ></div>
      <img
        :src="photo.properties.url_s"
        alt="Small photo from Flickr"
        @load="loading = false"
      />
    </div>
    <p>
      <small>{{ formatDate }}</small>
      <b-loading
        :is-full-page="false"
        :active="loading"
        :can-cancel="false"
      ></b-loading>
    </p>
  </div>
</template>

<script>

import get from 'lodash.get'
// import { mapMutations } from 'vuex'
// import { SHOW_MAP_MODAL } from '@/store/features/mutations.type'

export default {
  name: 'PopupCardPhoto',

  props: {
    photo: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      loading: true
    }
  },

  computed: {
    formatDate () {
      const split = this.photo.properties.date.split(' ')
      const date = split[0]
      const splitDate = date.split('-')
      return `${splitDate[2]}/${splitDate[1]}/${splitDate[0]}`
    }
  },

  watch: {
    photo (newVal, formerVal) {
      const newValId = get(newVal, 'properties.id')
      const formerValId = get(formerVal, 'properties.id')
      this.loading = (newValId !== formerValId)
    }
  }

  /*
  methods: {
    ...mapMutations({
      showMapModal: SHOW_MAP_MODAL
    })
  }
  */
}

</script>

<style scoped>

.loading-background {
  width: 100%;
  min-height: 100px;
  background-color: rgba(128, 128, 128, 0.3);
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  text-align: center;
}

a.button {
  position: absolute;
  top: 24px;
  left: 2px;
  display: inline-block;
  margin: 0;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  padding: 0;
  opacity: 0.4
}

</style>
