<template>
  <div
    v-if="image !== null"
    :key="image.properties.id"
    :style="{ width: '300px' }"
  >
    <a
      class="button is-small is-dark is-pulled-right"
      title="Agrandir"
      @click="showMapModal"
    >
      <b-icon
        pack="fas"
        icon="expand"
        size="is-small"
      ></b-icon>
    </a>
    <div>
      <div
        v-show="loading"
        class="loading-background"
      ></div>
      <img
        :src="`https://d1cuyjsrcm0gby.cloudfront.net/${image.properties.key}/thumb-320.jpg`"
        alt="Mapillary Image"
        @load="loading = false"
      />
    </div>
    <p>
      <small>{{ image.properties.captured_at | formatDate }}</small>
      <b-loading
        :is-full-page="false"
        :active="loading"
        :can-cancel="false"
      ></b-loading>
    </p>
  </div>
</template>

<script>

import get from 'lodash.get'
import moment from 'moment'
import { mapMutations } from 'vuex'
import { SHOW_MAP_MODAL } from '@/store/features/mutations.type'

export default {
  name: 'PopupCardMapillaryImage',

  filters: {
    formatDate: val => moment(val).format('DD/MM/YYYY')
  },

  props: {
    image: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      loading: true
    }
  },

  watch: {
    image (newVal, formerVal) {
      const newValId = get(newVal, 'properties.id')
      const formerValId = get(formerVal, 'properties.id')
      this.loading = (newValId !== formerValId)
    }
  },

  methods: {
    ...mapMutations({
      showMapModal: SHOW_MAP_MODAL
    })
  }
}

</script>

<style scoped>

.loading-background {
  width: 100%;
  min-height: 260px;
  background-color: rgba(128, 128, 128, 0.3);
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  text-align: center;
}

a.button {
  position: absolute;
  top: 24px;
  left: 2px;
  display: inline-block;
  margin: 0;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  padding: 0;
  opacity: 0.8
}

</style>
