<template>
  <div
    v-if="osmData"
    class="osm-popup-content"
  >
    <h3>
      {{ type }}
      <a
        :href="`https://www.openstreetmap.org/${type}/${objectId}`"
        target="_blank"
      >
        {{ objectId }}
      </a>
    </h3>
    <div class="table-wrapper">
      <table>
        <tbody>
          <tr
            v-for="k in keys"
            :key="k"
          >
            <td><strong>{{ k }}</strong></td>
            <td>{{ attrs[k] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>

import get from 'lodash.get'

export default {
  name: 'PopupCardOsm',

  props: {
    osmData: {
      type: Object,
      required: true
    }
  },

  computed: {
    attrs () {
      let { id, ...rest } = this.osmData.properties
      return rest
    },

    keys () {
      return Object.keys(this.attrs).sort((k1, k2) => k1 < k2 ? -1 : 1)
    },

    objectId () {
      return get(this.osmData, 'properties.id')
    },

    type () {
      return this.osmData.geometry.type === 'Point' ? 'node' : 'way'
    }
  }
}

</script>

<style scoped>

.osm-popup-content {
  width: 200px;
  overflow: auto;
  padding: 0 8px 8px 8px;
}

h3 {
  margin-bottom: 8px;
  padding-bottom: 6px;
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: underline;
}

.table-wrapper {
  max-height: 220px;
  overflow: auto;
}

td {
  padding: 4px;
  border: 1px solid #ddd;
}

</style>
