<template>
  <div
    v-if="sequence"
    class="popup-content-mapillary-sequence"
  >
    <h3>Séquence Mapillary</h3>
    <dl>
      <dt>Capturée le :</dt>
      <dd>{{ sequence.properties.captured_at | formatDate }}</dd>
      <dt>Images :</dt>
      <dd>{{ sequence.properties.coordinateProperties.image_keys.length }}</dd>
    </dl>
  </div>
</template>

<script>

import moment from 'moment'

export default {
  name: 'PopupCardMapillarySequence',

  filters: {
    formatDate: val => moment(val).format('DD/MM/YYYY HH:mm')
  },

  props: {
    sequence: {
      type: Object,
      required: true
    }
  }
}

</script>

<style scoped>

.popup-content-mapillary-sequence {
  width: 200px;
  overflow: auto;
  padding: 0 8px 8px 8px;
}

h3 {
  margin-bottom: 8px;
  padding-bottom: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

dt {
  margin-top: 8px;
  font-weight: bold;
}

</style>
