<template>
  <li
    @click="$emit('click', { formattedDate, id: uid, location, name })"
    @mouseenter="$emit('mouseenter', { formattedDate, id: uid, location, name })"
    @mouseleave="$emit('mouseleave', { formattedDate, id: uid, location, name })"
  >
    <div class="line-top"></div>
    <div class="line-bottom"></div>
    <div class="circle"></div>
    <div class="step-name">{{ name }}</div>
    <div class="step-date">{{ formattedDate }}</div>
  </li>
</template>

<script>

import moment from 'moment'

export default {
  name: 'StepListItem',

  props: {
    date: {
      type: String,
      required: true
    },

    location: {
      type: Array,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    uid: {
      type: String,
      required: true
    }
  },

  computed: {
    formattedDate () {
      return moment(this.date).format('DD/MM/YYYY')
    }
  }
}

</script>

<style scoped>

li {
  position: relative;
  margin: 0;
  padding: 8px 0;
}

li:hover {
  background-color: rgba(65, 64, 66, 0.3);
}

ul.step-list .circle,
ul.step-list .line-top,
ul.step-list .line-bottom,
ul.step-list .step-name {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.circle {
  position: absolute;
  top:0;
  left: 4px;
  margin: 12px 0;
  border-radius: 50%;
  background-color: rgb(249, 237, 50);
  height: 16px;
  width: 16px;
}

.line-top, .line-bottom {
  position: absolute;
  left: 10px;
  width: 4px;
  background-color: rgb(249, 237, 50);
}

.line-top {
  height: 7px;
  top: 0;
}

.line-bottom {
  height: calc(100% - 33px);
  bottom: 0;
}

.step-name {
  margin: 0 0 0 28px;
  font-size: 20px;
  font-weight: bold;
}

.step-date {
  margin: 0 0 0 28px;
  font-size: 14px;
}

li {
  transition: all 0.4s;
}

</style>
