<template>
  <ul class="step-list">
    <step-list-item
      v-for="step in expeditionSteps"
      :key="step.properties.id"
      :date="step.properties.arrival_date"
      :location="step.geometry.coordinates"
      :name="step.properties.name"
      :uid="step.properties.id"
      @click="zoomOnStep"
      @mouseenter="hilightMapFeatures([{ layer: 'steps', feature: step }])"
      @mouseleave="hilightMapFeatures([{ layer: 'steps', feature: {} }])"
    ></step-list-item>
  </ul>
</template>

<script>

import { transform } from 'ol/proj'
import get from 'lodash.get'

import {
  mapMutations,
  mapGetters
} from 'vuex'

import {
  HILIGHT_MAP_FEATURES,
  TRANSITION_REQUEST_PUSH
} from '@/store/features/mutations.type'

import StepListItem from './StepListItem'

export default {
  name: 'StepList',

  components: {
    StepListItem
  },

  computed: {
    ...mapGetters([
      'expeditionsById',
      'steps'
    ]),

    expedition () {
      return get(this.expeditionsById, this.$route.params.id)
    },

    expeditionSteps () {
      return this.steps
        .filter(step => step.properties.expedition === this.expedition.id)
    }
  },

  methods: {
    ...mapMutations({
      hilightMapFeatures: HILIGHT_MAP_FEATURES,
      transitionRequestPush: TRANSITION_REQUEST_PUSH
    }),

    zoomOnStep (ev) {
      this.transitionRequestPush({
        type: 'animate',
        options: {
          center: transform(ev.location, 'EPSG:4326', 'EPSG:3857'),
          zoom: 15
        }
      })
    }
  }
}

</script>

<style scoped>

ul.step-list {
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 0;
}

ul.step-list:hover {
  cursor: pointer;
}

</style>
