<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item title-item">
        <img src="@/assets/logo.png" alt="Nomad Maps logo">
        <h1>Nomad Maps</h1>
      </div>
    </div>
  </nav>
</template>

<script>

export default {
  name: 'TheNavbar',

  data () {
    return { menu: false }
  }
}

</script>

<style scoped>

.navbar {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.navbar a {
  color: #4a4a4a;
}

.navbar a:hover {
  color: #4a4a4a;
  text-decoration: none;
}

.navbar-item.title-item {
  padding-left: 8px;
}

.img {
  height: 100%;
  width: auto;
}

h1 {
  display: inline-block;
  margin: 0 0 4px 16px;
  padding: 0;
  font-size: 24px;
}

</style>
