<template>
  <ul class="web-map-tool-list">
    <web-map-tool-item
      v-for="tool in tools"
      :key="tool.name"
      :active="selectedTool === tool.name"
      :icon="tool.icon"
      :name="tool.name"
      :tooltip="tool.tooltip"
      @click="selectTool($event)"
    ></web-map-tool-item>
  </ul>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex'
import { SELECT_TOOL } from '@/store/features/mutations.type'
import tools from '@/constants/tools'
import WebMapToolItem from './WebMapToolItem'

export default {
  name: 'WebMapToolList',

  components: {
    WebMapToolItem
  },

  data () {
    return {
      tools
    }
  },

  computed: {
    ...mapGetters(['selectedTool'])
  },

  methods: {
    ...mapMutations({ selectTool: SELECT_TOOL })
  }
}

</script>
