<template>
  <div id="web-map-toolbar">
    <web-map-tool-list></web-map-tool-list>
  </div>
</template>

<script>

import WebMapToolList from './WebMapToolList'

export default {
  name: 'WebMapToolbar',

  components: {
    WebMapToolList
  }
}

</script>

<style>

#web-map-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 45px;
  border-right: 1px solid rgb(242, 242, 242);
  background-color: #fff;
}

</style>
