<template>
  <div id="web-map-leftbar">
    <b-message
      :active="selectedTool !== null"
      :title="selectedTool"
      @close="selectTool(null)"
    >
      <div class="web-map-leftbar-content">
        <content-steps v-if="selectedTool === 'Etapes'"></content-steps>
        <content-layers v-if="selectedTool === 'Calques'"></content-layers>
      </div>
    </b-message>
  </div>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex'
import { SELECT_TOOL } from '@/store/features/mutations.type'
import ContentSteps from './ContentSteps'
import ContentLayers from './ContentLayers'

export default {
  name: 'WebMapLeftbar',

  components: {
    ContentSteps,
    ContentLayers
  },

  computed: {
    ...mapGetters(['selectedTool'])
  },

  methods: {
    ...mapMutations({ selectTool: SELECT_TOOL })
  }
}

</script>

<style>

#web-map-leftbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 45px;
}

#web-map-leftbar header {
  border-radius: 0;
}

#web-map-leftbar section.message-body {
  border-radius: 0;
  background-color: #fff;
  padding: 16px;
}

#web-map-leftbar .web-map-leftbar-content {
  width: 200px;
  height: calc(100vh - 126px);
  max-height: calc(100vh - 126px);
  overflow: auto;
}

#web-map-leftbar .content h2 {
  font-size: 24px;
}

</style>
