<template>
  <ol-map
    id="ol-map"
    :center="[0, 0]"
    :maxZoom="19"
    :minZoom="3"
    :zoom="3"
    @click="hidePopup"
  >
    <template slot-scope="{ map }" >
      <ol-transition-handler
        :map="map"
        :transition-request-queue="transitionRequestQueue"
        @transitionend="transitionRequestShift"
      />
      <ol-control
        element-id="web-map-toolbar"
        :on-ol-control-created="c => { map.addControl(c) }"
      />
      <ol-control
        element-id="web-map-leftbar"
        :on-ol-control-created="c => { map.addControl(c) }"
      />
      <ol-control
        element-id="web-map-button-home"
        :on-ol-control-created="c => { map.addControl(c) }"
      />
      <ol-control-fullscreen
        :on-ol-control-created="c => { map.addControl(c) }"
        source="app"
        tip-label="activer / désactiver le mode plein écran"
      >
        <span class="icon" slot="label"><i class="fas fa-expand"></i></span>
        <span class="icon" slot="labelActive"><i class="fas fa-compress"></i></span>
      </ol-control-fullscreen>
      <ol-layer-tile
        :attributions="mapBasemap.attributions"
        :cross-origin="mapBasemap.crossOrigin"
        :on-ol-layer-created="l => { map.addLayer(l) }"
        :url="mapBasemap.url"
        :visible="mapBasemap.type === 'xyz'"
      />
      <ol-layer-bing
        imagery-set="AerialWithLabels"
        :bing-api-key="bingApiKey"
        :on-ol-layer-created="l => { map.addLayer(l) }"
        :visible="mapBasemap.type === 'bing'"
      />
      <ol-layer-vector
        :features="traces"
        :on-ol-layer-created="registerLayer('traces', map)"
        :styling="styles.trace"
        :visible="mapVisibleLayers.traces"
        @click="onClick($event, 'traces')"
        @pointerenter="hilight('traces', $event)"
        @pointerleave="hilightMapFeatures([{ layer: 'traces', feature: {} }])"
      />
      <ol-layer-vector
        :features="expeditionSteps"
        :min-resolution="100"
        :on-ol-layer-created="handleSteps(map)"
        :styling="styles.step"
        @click="zoomToStep($event.feature)"
        @pointerenter="hilight('steps', $event)"
        @pointerleave="hilightMapFeatures([{ layer: 'steps', feature: {} }])"
      />
      <ol-layer-vector
        v-if="user.mapillary_user"
        :reader="sourcesUtil.mapillary.dataReader"
        :max-resolution="6"
        :on-ol-layer-created="registerLayer('mapillarySequences', map)"
        :styling="styles.mapillary"
        :url="sourcesUtil.mapillary.sequencesUrlBuilder(user.mapillary_user)"
        :visible="mapVisibleLayers.mapillary"
        :z-index="0"
        @click="onClick($event, 'mapillarySequences')"
        @pointerenter="hilight('mapillarySequences', $event)"
        @pointerleave="hilightMapFeatures([{ layer: 'mapillarySequences', feature: {} }])"
      />
      <ol-layer-vector
        v-if="user.mapillary_user"
        :reader="sourcesUtil.mapillary.dataReader"
        :max-resolution="1"
        :on-ol-layer-created="registerLayer('mapillaryImages', map)"
        :styling="styles.mapillary"
        :url="sourcesUtil.mapillary.imagesUrlBuilder(user.mapillary_user)"
        :visible="mapVisibleLayers.mapillary"
        :z-index="0"
        @click="onClick($event, 'mapillaryImages')"
        @pointerenter="hilight('mapillaryImages', $event)"
        @pointerleave="hilightMapFeatures([{ layer: 'mapillaryImages', feature: {} }])"
      />
      <ol-layer-vector
        v-if="user.osm_uid"
        :reader="sourcesUtil.overpass.dataReader"
        :max-resolution="6"
        :on-ol-layer-created="registerLayer('osm', map)"
        :render-order="featuresUtil.sortByYCoordinate"
        :styling="styles.osm"
        :url="sourcesUtil.overpass.urlBuilder(user.osm_uid)"
        :visible="mapVisibleLayers.osm"
        :z-index="0"
        @click="onClick($event, 'osm')"
        @pointerenter="hilight('osm', $event)"
        @pointerleave="hilightMapFeatures([{ layer: 'osm', feature: {} }])"
      />
      <ol-layer-vector
        v-if="user.flickr_uid"
        :reader="sourcesUtil.flickr.dataReader"
        :max-resolution="6"
        :on-ol-layer-created="registerLayer('photos', map)"
        :render-order="featuresUtil.sortByYCoordinate"
        :styling="styles.photo"
        :url="sourcesUtil.flickr.urlBuilder(user.flickr_uid)"
        :visible="mapVisibleLayers.photos"
        :z-index="0"
        @click="onClick($event, 'photos')"
        @pointerenter="hilight('photos', $event)"
        @pointerleave="hilightMapFeatures([{ layer: 'photos', feature: {} }])"
      />
      <ol-overlay
        element-id="web-map-popup"
        :map="map"
        :offset="[0, -24]"
        :on-ol-overlay-created="addOverlay(map)"
        :position="popupPosition"
      />
    </template>
  </ol-map>
</template>

<script>

import get from 'lodash.get'
import { mapMutations, mapGetters } from 'vuex'

import {
  HIDE_POPUP,
  HILIGHT_MAP_FEATURES,
  SELECT_MAP_FEATURE,
  SET_HOME_EXTENT,
  SET_POPUP_POSITION,
  TRANSITION_REQUEST_PUSH,
  TRANSITION_REQUEST_SHIFT
} from '@/store/features/mutations.type'

import { BING_API_KEY } from '@/constants'
import featuresUtil from '@/webmapping/util/features'
import sourcesUtil from '@/webmapping/util/sources'
import styles from '@/webmapping/styles'
import OlMap from './OlMap'
import OlLayerTile from './OlLayerTile'
import OlLayerBing from './OlLayerBing'
import OlControl from './OlControl'
import OlControlFullscreen from './OlControlFullscreen'
import OlOverlay from './OlOverlay'
import OlLayerVector from './OlLayerVector'
import OlTransitionHandler from './OlTransitionHandler'

export default {
  name: 'WebMap',

  components: {
    OlMap,
    OlLayerTile,
    OlLayerBing,
    OlControl,
    OlControlFullscreen,
    OlOverlay,
    OlLayerVector,
    OlTransitionHandler
  },

  data () {
    return {
      bingApiKey: BING_API_KEY,
      featuresUtil,
      layers: {},
      sourcesUtil,
      styles
    }
  },

  computed: {
    ...mapGetters([
      'expeditionsById',
      'mapBasemap',
      'mapfeatureHilighted',
      'mapfeatureSelected',
      'mapPopup',
      'mapVisibleLayers',
      'popupPosition',
      'steps',
      'traces',
      'transitionRequestQueue',
      'usersById'
    ]),

    expedition () {
      return get(this.expeditionsById, this.$route.params.id)
    },

    expeditionSteps () {
      return this.steps
        .filter(step => step.properties.expedition === this.expedition.id)
    },

    user () {
      return get(this.usersById, this.expedition.user)
    }
  },

  watch: {
    mapfeatureHilighted (newVal, oldVal) {
      const toStyle = [...newVal, ...this.mapfeatureSelected]
      this.styleFeatures(oldVal, () => undefined)
      this.styleFeatures(toStyle, this.getHilightedStyle)
    },

    mapfeatureSelected (newVal, oldVal) {
      this.styleFeatures(oldVal, () => undefined)
      this.styleFeatures(newVal, this.getHilightedStyle)
    }
  },

  methods: {
    ...mapMutations({
      hidePopup: HIDE_POPUP,
      hilightMapFeatures: HILIGHT_MAP_FEATURES,
      selectMapFeature: SELECT_MAP_FEATURE,
      setHomeExtent: SET_HOME_EXTENT,
      setPopupPosition: SET_POPUP_POSITION,
      transitionRequestPush: TRANSITION_REQUEST_PUSH,
      transitionRequestShift: TRANSITION_REQUEST_SHIFT
    }),

    onClick (ev, layer) {
      const geom = ev.feature.getGeometry()
      const pos = geom.getType() === 'Point' ? geom.getCoordinates() : ev.coordinate
      this.setPopupPosition(pos)

      this.selectMapFeature([{
        feature: featuresUtil.toGeoJSON(ev.feature),
        layer
      }])
    },

    addOverlay (map) {
      return overlay => {
        map.addOverlay(overlay)
        map.updateSize()
      }
    },

    getHilightedStyle (layer) {
      switch (layer) {
        case 'steps':
          return this.styles.stepHilighted
        case 'osm':
          return this.styles.osmHilighted
        case 'traces':
          return this.styles.traceHilighted
        case 'mapillarySequences':
          return this.styles.mapillaryHilighted
        case 'mapillaryImages':
          return this.styles.mapillaryHilighted
        case 'photos':
          return this.styles.photoHilighted
        default:
          return null
      }
    },

    handleSteps (map) {
      return layer => {
        const extent = layer.getSource().getExtent()
        const options = { duration: 1000, padding: [80, 10, 10, 60] }
        this.transitionRequestPush({ type: 'fit', extent, options })
        this.setHomeExtent(extent)
        this.registerLayer('steps', map)(layer)
      }
    },

    hilight (layer, olFeature) {
      this.hilightMapFeatures([{
        feature: featuresUtil.toGeoJSON(olFeature),
        layer
      }])
    },

    registerLayer (name, map) {
      return layer => {
        this.layers[name] = layer
        map.addLayer(layer)
      }
    },

    styleFeatures (features, styleFunction) {
      const findFeature = feature => {
        return featuresUtil.findFeatureById(
          this.layers[feature.layer],
          get(feature, 'feature.properties.id')
        )
      }

      features
        .map(o => ({ ...o, feature: findFeature(o) }))
        .filter(o => o.feature !== null)
        .forEach(o => { o.feature.setStyle(styleFunction(o.layer)) })
    },

    zoomToStep (stepfeature) {
      this.transitionRequestPush({
        type: 'animate',
        options: {
          center: stepfeature.getGeometry().getCoordinates(),
          resolution: 5
        }
      })
    }
  }
}

</script>

<style>

#ol-map {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
}

#ol-map .ol-control {
  padding: 0;
}

#ol-map .ol-control button {
  margin: 0;
}

#ol-map .ol-zoom {
  top: 16px;
  right: 0;
  left: unset;
  border-radius: 0;
}

#ol-map .ol-full-screen {
  top: 136px;
  right: 0;
  left: unset;
  border-radius: 0;
}

.ol-full-screen button,
.ol-zoom button.ol-zoom-in,
.ol-zoom button.ol-zoom-out {
  width: 32px;
  height: 32px;
  border-radius: 0;
  background-color: #fff;
  color: #363636;
}

.ol-control button:hover,
.ol-control button:active,
.ol-control button:focus {
  background-color: rgba(192, 192, 192, 1);
}

</style>
