<template>
  <b-modal
    :active="mapModal"
    :canCancel="['x']"
    :width="960"
    @close="hideMapModal()"
  >
    <modal-card-photo
      v-if="layer === 'photos'"
      :photo="feature"
    ></modal-card-photo>
    <modal-card-mapillary-image
      v-else-if="layer === 'mapillaryImages'"
      :image="feature"
    ></modal-card-mapillary-image>
  </b-modal>
</template>

<script>

import get from 'lodash.get'
import { mapMutations, mapGetters } from 'vuex'
import { HIDE_MAP_MODAL } from '@/store/features/mutations.type'
import ModalCardPhoto from './ModalCardPhoto'
import ModalCardMapillaryImage from './ModalCardMapillaryImage'

export default {
  name: 'WebMapModal',

  components: {
    ModalCardPhoto,
    ModalCardMapillaryImage
  },

  computed: {
    ...mapGetters([
      'mapfeatureSelected',
      'mapModal'
    ]),

    feature () {
      return get(this.mapfeatureSelected, '[0].feature')
    },

    layer () {
      return get(this.mapfeatureSelected, '[0].layer')
    }
  },

  methods: {
    ...mapMutations({
      hideMapModal: HIDE_MAP_MODAL
    })
  }
}

</script>
