<template>
  <div id="web-map-button-home">
    <div class="home-extent ol-unselectable ol-control">
      <button
        title="Vue initiale"
        @click="backHome()"
      >
        <b-icon
          pack="fas"
          icon="home"
          size="is-small"
        ></b-icon>
      </button>
    </div>
  </div>
</template>

<script>

import { mapMutations } from 'vuex'
import { BACK_HOME } from '@/store/features/mutations.type'

export default {
  name: 'WebMapButtonHome',

  methods: {
    ...mapMutations({ backHome: BACK_HOME })
  }
}

</script>

<style>

.home-extent {
  position: absolute;
  top: 92px;
  right: 0;
  left: unset;
  border-radius: 0;
}

.home-extent button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  color: #363636;
}

</style>
