<template>
  <ol-popup
    id="web-map-popup"
    @close="hidePopup"
  >
    <popup-card-photo
      v-if="layer === 'photos'"
      :photo="feature"
      @extend="showMapModal"
    ></popup-card-photo>
    <popup-card-osm
      v-else-if="layer === 'osm'"
      :osm-data="feature"
    ></popup-card-osm>
    <popup-card-mapillary-sequence
      v-else-if="layer === 'mapillarySequences'"
      :sequence="feature"
    ></popup-card-mapillary-sequence>
    <popup-card-mapillary-image
      v-else-if="layer === 'mapillaryImages'"
      :image="feature"
    ></popup-card-mapillary-image>
    <popup-card-trace
      v-else-if="layer === 'traces'"
      :trace="feature"
    ></popup-card-trace>
  </ol-popup>
</template>

<script>

import get from 'lodash.get'
import { mapMutations, mapGetters } from 'vuex'
import { HIDE_POPUP, SHOW_MAP_MODAL } from '@/store/features/mutations.type'
import OlPopup from './OlPopup'
import PopupCardPhoto from './PopupCardPhoto'
import PopupCardOsm from './PopupCardOsm'
import PopupCardMapillarySequence from './PopupCardMapillarySequence'
import PopupCardMapillaryImage from './PopupCardMapillaryImage'
import PopupCardTrace from './PopupCardTrace'

export default {
  name: 'WebMapPopup',

  components: {
    OlPopup,
    PopupCardPhoto,
    PopupCardOsm,
    PopupCardMapillarySequence,
    PopupCardMapillaryImage,
    PopupCardTrace
  },

  computed: {
    ...mapGetters(['mapfeatureSelected']),

    feature () {
      return get(this.mapfeatureSelected, '[0].feature')
    },

    layer () {
      return get(this.mapfeatureSelected, '[0].layer')
    }
  },

  methods: {
    ...mapMutations({
      hidePopup: HIDE_POPUP,
      showMapModal: SHOW_MAP_MODAL
    })
  }
}

</script>
