<template>
  <li
    :class="{ 'active-tool': active, 'web-map-tool-item': true }"
  >
    <b-tooltip
      :active="!active"
      :label="tooltip"
      position="is-right"
      square
    >
    <a
      class="button is-medium"
      @click.prevent.stop="$emit('click', name)"
    >
      <b-icon
        pack="fas"
        size="is-small"
        :icon="icon">
      </b-icon>
    </a>
    </b-tooltip>
  </li>
</template>

<script>

export default {
  name: 'WebMapToolItem',

  props: {
    active: {
      type: Boolean,
      default: false
    },

    icon: {
      type: String,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    tooltip: {
      type: String,
      default: ''
    }
  }
}

</script>

<style>

/*
li.web-map-tool-item {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
*/

li.web-map-tool-item a {
  border: none;
  border-radius: 0;
}

li.web-map-tool-item.active-tool a {
  color: #000;
}

li.web-map-tool-item a:hover {
  color: #000;
}

li.web-map-tool-item.active-tool a:hover {
  color: #000;
}

</style>
