// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #616161;
$primary-invert: findColorInvert($primary);
$secondary: #f9ed32;
$secondary-invert: findColorInvert($secondary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: #0FA0CE;
$link-hover: #0FA0CE;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// falling animation
.falling {
  animation: falling 2s linear infinite;
}

@keyframes falling {
  0% {transform:translateY(-50%); opacity:0}
  50% {transform:translateY(0%); opacity:1}
  100% {transform:translateY(50%); opacity:0}
}
