<template>
  <div id="app">
    <the-navbar></the-navbar>
    <router-view/>
  </div>
</template>

<script>

import 'ol/ol.css'
import '@/assets/app.scss'

import TheNavbar from '@/components/TheNavbar'

export default {
  name: 'App',

  components: {
    TheNavbar
  }
}

</script>

<style>

html {
  overflow-y: auto;
}

</style>
